@import "tailwindcss";

.bg-light {
    background-color: #e3e6eb; 
    color: #1e293b; 
}

.bg-light .navbar {
    background: linear-gradient(to right, #4f8ad5, #8e56c9); 
    color: white; 
    padding: 12px 20px;
    border-bottom: 1px solid #aab2c1; 
}

.bg-light .secondary-text {
    color: #6b7b8b; 
}

.bg-light .accent {
    color: #0066cc; 
}

.bg-light .border {
    border-color: #aab2c1;
}


.bg-dark {
    background-color: #1a2634; 
    color: #e3e8f0; 
}

.bg-dark .navbar {
    background: linear-gradient(to right, #1e293b, #2c3e50); 
    color: #e3e8f0; 
    padding: 12px 20px;
    border-bottom: 1px solid #334155; 
}

.bg-dark .secondary-text {
    color: #94a3b8; 
}

.bg-dark .accent {
    color: #3d82f6;
}

.bg-dark .border {
    border-color: #334155; 
}

.bg-dark .card {
    background-color: #293548; 
    border-color: #3a4b5e;
    color: #e3e8f0;
    transition: all 0.3s ease;
}
  
.bg-light .card {
    background-color: #ffffff; 
    border-color: #aab2c1;      
    color: #1e293b;           
    transition: all 0.3s ease;
}

.card:hover {
    transform: scale(1.01);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.bg-light .input{
    background-color: white;
}

.gradient-background{
    background: linear-gradient(to right, #4f8ad5, #8e56c9)
}